* {
   box-sizing: border-box;
}

header,footer {
    height: 100px;
    width: 100%;
    border: 2px solid black;
    clear: both;
}

section {
    border: 2px solid black;
    float: left;
    height: 300px;
    width: 33.33%;

}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
    section {
        background: lightcoral;
        width: 50%;
    }
  }
  
  /* small screens */
  @media (max-width: 767px) {
    section {
        background: lightcyan;
        width: 100%;
    }
  }