* {
   box-sizing: border-box;
}

header,footer {
    height: 100px;
    width: 100%;
    border: 2px solid black;
    clear: both;
}

section {
    border: 2px solid black;
    float: left;
    height: 300px;
    width: 33.33%;

}